head
  meta(charset='utf-8')
  title Registro usuario
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css') 
  body
    .modal-dialog
        .modal-content
          // Modal Header
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true") 
              span.sr-only Close  
            h4(style="font-size:50" )
             #myModalLabel.modal-title
             b
              center| Información de usuario
          // Modal Body
          .modal-body
            form(role='form' method='POST' action='http://localhost:3000/registro_usuario')
            div.form-group
                label(for='nombre') Nombre:    
                input(type='text', name='nombre', placeholder='Francia')
            
                label(for='apellido') ㅤㅤApellido:
                input(type='text', name='apellido', placeholder='Marquez')
                     
            div.form-group
               <label for="nacimiento">Fecha de Nacimiento:</label>
               label(for='celular') ㅤㅤNúmero de celular:
               input(type='tel', name='celular', placeholder='313-652-1525' pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}")
            div.form-group   
               <input type="date" id="nacimiento" name="nacimiento">
                label(for='email') ㅤㅤEmail:
                input(type='email', name='email', placeholder='usuario@gmail.com')

            div.form-group
                label(for='direccion') Dirección de Residencia:
                input(type='text', name='direccion', placeholder='Calle 15 #29a-63')    
            
                label(for='ciudad') ㅤㅤCiudad:
                select(name='ciudad')
                  option(value='barranquilla') Barranquilla
                  option(value='bogota') Bogota
                  option(value='bucaramanga') Bucaramanga
                  option(value='cali') Cali
                  option(value='cartagena') Cartagena
                  option(value='cucuta') Cucuta
                  option(value='ibague') Ibague
                  option(value='manizales') Manizales
                  option(value='medellin') Medellin
                  option(value='pasto') Pasto
                  option(value='pereira') Pereira
                  option(value='santa_marta') Santa Marta
            div.form-group
                label(for='password') Contraseña:
                input(type='password', name='password', placeholder='xxxx')
                label(for='password') ㅤㅤRepetir contraseña:
                input(type='password', name='password', placeholder='xxxx') 
            div.form-group    
                label(for="myfile") Recibo de Servicios Públicos (pdf):
            div.form-group
                input(type="file" id="myfile" name="myfile")    
            div.form-group
            center         
             a(class='button' href='http://localhost:3000/medio_pago' class='btn btn-primary' target='_blank') Continuar registro
          // Modal Footer
          .modal-footer
            h6 Derechos Reservados 2022 &#169